In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

In [4]:
df = pkg.resource('laus_ca').dataframe()
df.head()

,year,month,is_ann_avg,period,geoid,stusab,county,census_region,series_id,sa_code,area_code,measure_code,value,footnote_codes
0,1976,1,0,M01,04000US06,CA,NaN,state,LASBS060000000000003,S,BS0600000000000,3,9.2,NaN
1,1976,2,0,M02,04000US06,CA,NaN,state,LASBS060000000000003,S,BS0600000000000,3,9.2,NaN
2,1976,3,0,M03,04000US06,CA,NaN,state,LASBS060000000000003,S,BS0600000000000,3,9.2,NaN
3,1976,4,0,M04,04000US06,CA,NaN,state,LASBS060000000000003,S,BS0600000000000,3,9.1,NaN
4,1976,5,0,M05,04000US06,CA,NaN,state,LASBS060000000000003,S,BS0600000000000,3,9.1,NaN

In [5]:
df[['county','census_region']].drop_duplicates()

        county census_region
0          NaN         state
2060       NaN           NaN
8408      19.0           csa
9904      71.0           csa
11400     47.0           csa
12896     89.0           csa
14392     61.0           csa
15888      1.0           csa
17384    107.0           csa
18880      1.0        county
20376      3.0        county
21872      5.0        county
23368      7.0        county
24864      9.0        county
26360     11.0        county
27856     13.0        county
29352     15.0        county
30848     17.0        county
32344     19.0        county
33840     21.0        county
35336     23.0        county
36832     25.0        county
38328     27.0        county
39824     29.0        county
41320     31.0        county
42816     33.0        county
44312     35.0        county
45808     37.0        county
47308     39.0        county
48804     41.0        county
...        ...           ...
510088   109.0          cbsa
511584    35.0          cbsa
513080    57.0          cbsa
514576    45.0          cbsa
516072    29.0          cbsa
517568     7.0          cbsa
519064    25.0          cbsa
520560    19.0          cbsa
522056    31.0          cbsa
523552    37.0          cbsa
525048    39.0          cbsa
526544    47.0          cbsa
528040    99.0          cbsa
529536    55.0          cbsa
531032   111.0          cbsa
532528    89.0          cbsa
534024    71.0          cbsa
535520    17.0          cbsa
537016    53.0          cbsa
538512    73.0          cbsa
540008     1.0          cbsa
541504    69.0          cbsa
543000    79.0          cbsa
544496    87.0          cbsa
545992    83.0          cbsa
547488    97.0          cbsa
548984    77.0          cbsa
550480    95.0          cbsa
551976   107.0          cbsa
553472   115.0          cbsa

[137 rows x 2 columns]